.sidebar {
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;
  background-color: $color-primary;

  display: flex;
  justify-content: center;
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  width: 4.5rem;
  height: 2px;
  transform: translateY(3rem);

  &::before,
  &::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 4.5rem;
    height: 2px;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }
}
