.sidebar {
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;
  background-color: $color-primary;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: $breakpoint-lg) {
    grid-row: 1 / 2;
    grid-column: full-start / full-end;
    justify-content: end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  width: 4.5rem;
  height: 2px;
  transform: translateY(3rem);

  &::before,
  &::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 4.5rem;
    height: 2px;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $breakpoint-lg) {
    transform: translateY(0);
    transform: translateX(-2rem);

    &::before {
      transform: translateY(-1.2rem);
    }

    &::after {
      transform: translateY(1rem);
    }
  }
}
