.top-destinations {
  background-color: $color-secondary-dark;
  padding: 2.4rem;

  grid-column: col-start 7 / full-end;

  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  row-gap: 2rem;

  @media only screen and (max-width: $breakpoint-md) {
    grid-column: full-start / full-end;
  }
}

.top-destination {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  column-gap: 1.6rem;
  row-gap: 4vh;

  @media only screen and (max-width: $breakpoint-md) {
    grid-template-columns: repeat(3, min-content max-content);
  }

  @media only screen and (max-width: $breakpoint-sm) {
    grid-template-columns: min-content max-content;
  }

  &__img {
    width: 7.5rem;
    border-radius: 50%;
    display: block;
  }

  &__adventurers {
    text-transform: uppercase;
    color: $color-gray-light-1;
    font-size: 1rem;
    margin-top: -2px;
  }
}
